<div class="stripe_slider">
	<div class="stripe_container">
      <ul class='navigation'>
        <li>
		    <%# image = image_tag( "home.png", :id => 1,
									:alt => "home", :title => "home", :class => "") %>
			<% url_path = "http://www.visara.com/" %>													
	     	<%#= link_to image, url_path, :target => "_blank"  %>	
		    <%= link_to 'home', url_path, :target => "_blank"  %>
        </li>
 	       <li>
				<% url_path = "http://www.visara.com/" %>													
		     	<%= link_to "person", url_path, :target => "_blank"  %>	
	        </li>
	        <li>
				<% url_path = "http://www.visara.com/" %>													
		     	<%= link_to "person", url_path, :target => "_blank"  %>	
	        </li>
	        <li>
				<% url_path = "http://www.visara.com/" %>													
		     	<%= link_to "person", url_path, :target => "_blank"  %>	
	        </li>
      </ul>
	</div>
</div>

<div class="stripe">
	<div class="stripe_container">
		<div class="indexmenua">
			
			<script type="text/javascript">/*<![CDATA[*/(function(){d=document;e=d.documentElement;c="images-on";i=new Image();t=i.style;s=d.enableStateScope=function(s,o){if(o)e.className+=" "+s;else e.className=e.className.replace(new RegExp("\b"+s+"\b"),"");};if(t.MozBinding!=null){t.backgroundImage="url("+d.location.protocol+"//0)";b=window.getComputedStyle(i,'').backgroundImage;if(b!="none"&&b!="url(invalid-url:)"||d.URL.substr(0,2)=="fi")s(c,true);}else{t.cssText="-webkit-opacity:0";if(t.webkitOpacity==0){i.onload=function(){s(c,i.width>0);};i.src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";}else{i.onerror=function(){s(c,true);};i.src="about:blank";}}})();//]]></script>
			
		<ul>
			<li>
			  <%= link_to "Homepage", root_path, :class => "pippo" %>
			</li>
			<li>
			  <%= link_to "Partners", root_path %>
			</li>
			<li>
			  <%= link_to "Prodotti", root_path %>
			</li>
			<li>
			  <%= link_to "Azienda", root_path %>
			</li>
			<li>
			  <%= link_to "Contatti", root_path %>
			</li>
		</ul>
		</div>
	</div>
</div>

<div class="stripe_slider">
	<div class="stripe_container">
	  <!--inizio slides-->
	  <div id="slidercontainer" >
		
	    <div id="featured" >     
			<!-- <div class="content" style="" >
	  	  	</div> -->
	      	<%= image_tag( "orbit_slidercontainer/img04.jpg", :id => 1, 
							:alt => "Overflow: Hidden No More", :title => "Overflow",
							:class => "") %>
	      	<%= image_tag( "orbit_slidercontainer/img07.jpg", :id => 2, 
							:alt => "HTML Captions", :title => "HTML Captions",
							'data-caption' => "#htmlCaption", :class => "") %>
	      	<%= image_tag( "orbit_slidercontainer/img08.jpg", :id => 3, 
							:alt => "and more features", :title => "and more features",
							'data-caption' => "#htmlCaption", :class => "") %>
	      	<%= image_tag( "orbit_slidercontainer/overflow.jpg", :id => 4, 
							:alt => "and more features", :title => "and more features",
							:class => "") %>
	    </div>
	  	<!-- Captions for Orbit -->
	  	<span class="orbit-caption" id="htmlCaption" ><strong>Xiotech ISE Blade Storage</strong> Greater than 12000 IOPS in 3U |  <a href="http://www.xiotech.com/" >xiotech.com</a> |<em> HtSCS</em> Authorized Dealer</span>
	  </div>
	  <!--fine slides-->
	</div>
</div>

<div class="stripe">
	<div class="stripe_container red">

		Contenuto

	</div>
</div>

<div class="stripe">
	<div class="stripe_container red">

		Contenuto
		<br/>
		Contenuto
		<br/>
		Contenuto
		<br/>
		Contenuto
		<br/>
		Contenuto
		<br/>
		Contenuto
		<br/>

	</div>
</div>
