<div class="stripe_slider">
	<div class="stripe_container">
		<div class="block_1_12">
		
      <ul class='navigation'>
        <li>
		    <%# image = image_tag( "home.png", :id => 1,
									:alt => "home", :title => "home", :class => "") %>
			<% url_path = "http://www.visara.com/" %>													
	     	<%#= link_to image, url_path, :target => "_blank"  %>	
		    <%= link_to 'home', url_path, :target => "_blank"  %>
        </li>
 	       <li>
				<% url_path = "http://www.visara.com/" %>													
		     	<%= link_to "person", url_path, :target => "_blank"  %>	
	        </li>
	        <li>
				<% url_path = "http://www.visara.com/" %>													
		     	<%= link_to "person", url_path, :target => "_blank"  %>	
	        </li>
	        <li>
				<% url_path = "http://www.visara.com/" %>													
		     	<%= link_to "person", url_path, :target => "_blank"  %>	
	        </li>
      </ul>

		</div>
	</div>
</div>

<div class="stripe">
	<div class="stripe_container">
		<div class="indexmenua">
			
		<ul>
			<li>
			  <%= link_to "Homepage", root_path, :class => "pippo" %>
			</li>
			<li>
			  <%= link_to "Partners", root_path %>
			</li>
			<li>
			  <%= link_to "Prodotti", root_path %>
			</li>
			<li>
			  <%= link_to "Azienda", root_path %>
			</li>
			<li>
			  <%= link_to "Contatti", root_path %>
			</li>
		</ul>
		</div>
	</div>
</div>

<div class="stripe_slider">
	<div class="stripe_container">
		<div class="block_1_12">
		
	  <!--inizio slides-->
	  <div id="slidercontainer" >
		
	    <div id="featured" >     
			<!-- <div class="content" style="" >
	  	  	</div> -->
	      	<%= image_tag( "orbit_slidercontainer/img04.jpg", :id => 1, 
							:alt => "Overflow: Hidden No More", :title => "Overflow",
							:class => "") %>
	      	<%= image_tag( "orbit_slidercontainer/img07.jpg", :id => 2, 
							:alt => "HTML Captions", :title => "HTML Captions",
							'data-caption' => "#htmlCaption1", :class => "") %>
	      	<%= image_tag( "orbit_slidercontainer/img08.jpg", :id => 3, 
							:alt => "and more features", :title => "and more features",
							'data-caption' => "#htmlCaption2", :class => "") %>
	      	<%= image_tag( "orbit_slidercontainer/overflow.jpg", :id => 4, 
							:alt => "and more features", :title => "and more features",
							:class => "") %>
	    </div>
	  	<!-- Captions for Orbit -->
	  	<span class="orbit-caption" id="htmlCaption1" ><strong>Xiotech ISE Blade Storage</strong> Greater than 12000 IOPS in 3U |  <a href="http://www.xiotech.com/" >xiotech.com</a> |<em> HtSCS</em> Authorized Dealer</span>
	  	<span class="orbit-caption" id="htmlCaption2" ><strong>Questo è un secondo messaggio</strong> Fico |  <a href="http://www.xiotech.com/" >superman</a> |<em> Copileft</em> 1615</span>
	  </div>
	  <!--fine slides-->
	
		</div>
	</div>
</div>

<div class="stripe_slider">
	<div class="stripe_container">
		<div class="block_12_12">
				&nbsp<br></br>&nbsp
		</div>
	</div>
</div>

<div class="stripe">
	<div class="stripe_container">
		<div class="block_1_12">
				&nbsp<br></br>&nbsp
		</div>
		<div class="block_7_12">

		<p> Benvenuti in HtSCS , una società di consulenza informatica che si occupa specificatamente di rivendita per il territorio italiano dello Storage Xiotech, (xiotech.com), dei prodotti per la crittografia Infoguard (Infoguard.com), e delle soluzioni Shunra (Shunra.com), oltre a varie soluzioni dedicate ai grandi centri elettronici che spaziano dal cablaggio intelligente in fibra ottica a soluzioni di Legacy Tape Emulator e FEP emulator. 
		</p>

	</div>
	<div class="block_1_12">
			&nbsp<br></br>&nbsp
	</div>
	<div class="block_3_12">

    <!--h3>HTSCS Tweets</h3-->
    <script src="http://widgets.twimg.com/j/2/widget.js" ></script> <script>
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: '#storage OR #IBM OR #fiberoptic OR #cloudcomputing OR #EMC',
      interval: 6000,
      title: 'HtSCS\'s',
      subject: 'Tweets',
      width: 241,
      height: 300,
      theme: {
        shell: {
          background: '#091919',
          color: '#ffffff'
        },
        tweets: {
          background: '#ffffff',
          color: '#444444',
          links: '#1985b5'
        }
      },
      features: {
        scrollbar: false,
        loop: true,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: true,
        toptweets: true,
        behavior: 'default'
      }
    }).render().start();
    </script>

		</div>
	</div>
</div>

<div class="stripe_slider">
	<div class="stripe_container">
		<div class="stripe_container">

bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 

	</div>
</div>

<div class="stripe">
	<div class="stripe_container">
		<div class="stripe_container">

bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 

	</div>
</div>